/* src/styles/global.css */
@import "tailwindcss";

@theme {
  /* Tus colores personalizados actualizados para Dante Test Branch */
  --color-primary: #b90101;         
  --color-secondary: #580000;        
  /* Tonos base para la estructura industrial (Se mantienen oscuros profundos) */
  --color-cyber-black: #020202;      
  --color-cyber-navbar: #050505;     
  --color-cyber-grid: #141414;       
  --color-cyber-grid-light: #333;   
}

@variant dark (&:is(.dark *));

/* === Scrollbar Cyberpunk (Colores actualizados) === */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-cyber-navbar);
  border-left: 1px solid var(--color-cyber-grid);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* Ahora Rojo Dante */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}